{% extends "bootstrap/base.html" %} {% block content %}

<div class="container" style="background-color: rgb(207, 239, 252)">
  <div
    class="jumbotron text-center"
    style="
      background-color: rgb(106, 187, 219);
      margin-top: 20px;
      font-family: Georgia, 'Times New Roman', Times, serif;
      border: solid 3px aquamarine;
    "
  >
    <h1>Latex Code Generator</h1>
  </div>
</div>

<div
  class="container"
  style="font-family: monospace; background-color: rgb(125, 198, 227)"
>
  <form method="POST" action="{{ url_for('analyse')}}" id="myForm">
    <div class="heading text-center">
      <label class="heading" style="font-size: 30px; text-align: center"
        >Enter Your Text Below</label
      >
    </div>
    <textarea class="form-control" rows="3" cols="2" name="rawtext"></textarea>

    <div class="button" style="text-align: center; padding: 10px">
      <input
        type="submit"
        value="Submit"
        class="btn btn-primary"
        style="
          padding: 10px;
          margin-top: 15px;
          margin-bottom: 15px;
          margin-right: 15px;
        "
      />
      <input
        type="button"
        onclick="myFunction()"
        value="Clear"
        class="btn btn-outline-dark"
        style="
          padding: 10px;
          margin-top: 15px;
          margin-bottom: 15px;
          margin-right: 15px;
        "
      />

      <a
        href="{{ url_for('index')}}"
        type="button"
        class="btn btn-danger"
        style="padding: 10px; margin-top: 15px; margin-bottom: 15px"
      >
        Reset</a
      >
    </div>
  </form>
</div>

<br />
<div class="main">
  <div class="container" style="background-color: rgb(207, 239, 252);">
    <div class="card">
      <div class="card-text">
        <h5
          class="text-center"
          style="font-family: monospace; font-size: 20px; font-weight: bold"
        >
          Latex Script
        </h5>
        <button onclick="copy()">Copy</button>
        <div
          class="card-footer text-muted" id="textarea"
          style="background-color: rgb(207, 239, 252); margin-top: 10px"
        >
          {% for e in message %}
          <div>
            <h6
              class="output"
              style="text-align: left; font-weight: bold; margin-left: 10px"
            >
              {{e}}
            </h6>
          </div>
          {% endfor %}
          <br />
        </div>
      </div>
    </div>
  </div>
  {% endblock %} {% block scripts %} {{ super() }}

  <script>
    function myFunction() {
      document.getElementById("myForm").reset();
    }
    function copy() {
    let textarea = document.getElementById("textarea");
    textarea.select();
    document.execCommand("copy");
}
  </script>

  {% endblock %}
</div>
